@font-face {
  font-family: "iconfont"; /* Project id 2653036 */
  src: url('~@/common/fonts/iconfont.woff2?t=1625555844857') format('woff2'),
  url('~@/common/fonts/iconfont.woff?t=1625555844857') format('woff'),
  url('~@/common/fonts/iconfont.ttf?t=1625555844857') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e601";
}

.icon-decrease:before {
  content: "\e6a6";
}


.icon-arrowleftthin:before {
  content: "\e61d";
}

.icon-shop-cart:before {
  content: "\e67c";
}